
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<h3>Kategori Tablo</h3>

<br />

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>

    </tr>

    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Ypatık</td>
        <td>True</td>
        <td> <button class="btn btn-success">Güncelle</button> </td>
    </tr>

    <tr>
        <td>2</td>
        <td>Tiyatro</td>
        <td>Açıklama Ypatık</td>
        <td>True</td>
        <td> <button class="btn btn-success">Güncelle</button> </td>
    </tr>

    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama Ypatık</td>
        <td>True</td>
        <td> <button class="btn btn-success">Güncelle</button> </td>
    </tr>
    <tr>
        <td>4</td>
        <td>Film</td>
        <td>Açıklama Bekleniyor</td>
        <td>True</td>
        <td> <button class="btn btn-success">Güncelle</button> </td>
    </tr>

</table>

<button class="btn btn-info">Yeni Kategori Ekle</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>