@using EntityLayer.Concrete
@model List<Admin>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı Mail</th>
        <th>Yetki</th>
        <th>Status</th>
        <th>Pasif Yap</th>
        <th>Yetkisini Değiştir</th>
    </tr>

    @foreach (var x in Model)
    {

        <tr>
            <th>@x.AdminID</th>
            <td>@x.AdminUserName</td>
            <td>@x.AdminRole</td>
            <td>Aktif</td>
            <td><a href="/Authorization/DeleteAdmin/@x.AdminID" class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="/Authorization/EditAdmin/@x.AdminID" class="btn btn-warning">Yetkisini Değiştir</a></td>
        </tr>
    }
</table>

<br />
<a href="/Authorization/AddAdmin/" class="btn btn-info">Yeni Admin Tanımla</a>

